<div id="raw-log">
	<textarea class="form-control" id="raw-log-textarea" style="margin-top: 0px; margin-bottom: 0px; height: 400px;" readonly>[21:35:10] Hello world!</textarea>

	<form class="form-inline" role="form" style="margin-top: 10px;">
		<input class="form-control" id="raw-log-input" placeholder="Input" style="width: 90%;">
		<button class="btn btn-default" style="width: 9%; float: right;" ng-click="sendBtnClick()">Send!</button>
		<div class="checkbox">
			<label>
				<input type="checkbox" id="raw-log-timestamp-checkbox" checked style="margin-top: 10px;"> Timestamp
			</label>
		</div>
	</form>
</div>